{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form action="/history" method="post" id="autoForm">
        <input type="hidden" name="symbol" value="{{ some_symbol }}">
    </form>

    {% if reload %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                document.getElementById('autoForm').submit();
            });
        </script>
    {% endif %}

    {% if stocks %}
        <div class="container mt-4">
            <h2>Bought stocks</h2>
            {% for stock in stocks %}
            <ul>
                <li>Name: {{ stock[0] }}</li>
                <li>Shares: {{ stock[1] }}</li>
                <li>Current Price: ${{ stock[2] }}</li>
                <li>Overall Value: ${{ stock[3] }}</li>
            </ul>
            {% endfor %}
        </div>
    {% else %}
        <div class="container mt-4">
            <h2>You haven't purchased anything yet</h2>
        </div>
    {% endif %}
    {% if balance %}
        <div class="container mt-4">
            <h2>Your Balance</h2>
            <p>${{ balance }}</p>
        </div>
    {% endif %}
{% endblock %}
