{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if stocks %}
        <div class="container mt-4">
            <h2>Bought Stocks</h2>
            {% for stock in stocks %}
            <ul>
                <li>Name: {{ stock[0] }}</li>
                <li>Shares: {{ stock[1] }}</li>
                <li>Current Price: {{ stock[2] }}</li>
                <li>Overall Value: {{ stock[3] }}</li>
            </ul>
            {% endfor %}
        </div>
    {% else %}
        <div class="container mt-4">
            <h2>You haven't purchased anything yet</h2>
        </div>
    {% endif %}

    <div class="container mt-4">
        <h2>Cash</h2>
        <p>{{ balance }}</p>
    </div>

    {% if total %}
        <div class="container mt-4">
            <h2>Total Value</h2>
            <p>{{ total }}</p>
        </div>
    {% endif %}
{% endblock %}
